@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Yeseva+One&display=swap");
.containerStyles, .projects-section, .skills-section, .about-section {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html {
  scroll-behavior: smooth;
}

body {
  z-index: -4;
  position: relative;
}

.philosopher {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.yeseva-one {
  font-family: "Yeseva One", serif;
  font-weight: 200;
  font-style: normal;
}

.fredoka {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

a {
  text-decoration: none;
  color: white;
}

hr {
  background-color: #100f0f;
  height: 3px;
  border: 0;
}

.main-section {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #1a1a1a;
  position: relative;
  z-index: -3;
}
.main-section .main-container {
  max-width: 900px;
}
.main-section .main-container header {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.main-section .main-container header .name {
  font-size: 1.3rem;
}
.main-section .main-container header nav ul {
  display: flex;
}
.main-section .main-container header nav ul li {
  list-style-type: none;
}
.main-section .main-container header nav ul li a {
  margin: 0 auto;
  padding: 0.7rem;
  display: block;
  width: 5rem;
  text-align: center;
}
.main-section .main-container header nav ul li a:hover {
  border-bottom: 1.5px solid #09aded;
}
.main-section .main-container main {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.main-section .main-container main .left-side {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
}
.main-section .main-container main .left-side .left-side-text {
  /* a {
      background-color: transparent;
      color: $white;
      padding: 0.5rem;
      border: 1px solid transparent;
      border-image: linear-gradient(to right,#04abec, #ffff) 10;
      border-radius: 22px;
  } */
}
.main-section .main-container main .left-side .left-side-text h1 {
  font-size: 2.5rem;
  font-family: "Yeseva One", sans-serif;
  padding-right: 1rem;
  max-width: 60%;
  line-height: 1.3;
}
.main-section .main-container main .left-side .left-side-text .intro-text {
  margin: 1.8rem 0;
}
.main-section .main-container main .left-side .left-side-text a.btn {
  display: inline-block;
  background-color: transparent;
  background: #1a1a1a;
  color: white;
  width: 120px;
  height: 40px;
  border: 0;
  padding: 0.5rem;
  -o-border-image: linear-gradient(to right, #04abec, white) 10;
     border-image: linear-gradient(to right, #04abec, white) 10;
  border-radius: 90px;
  font-size: 20px;
  color: #d1d7d9;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.main-section .main-container main .left-side .left-side-text a.btn:before {
  content: "";
  width: 120px;
  height: 40px;
  line-height: 90px;
  border: 0;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scaleX(1.05) scaleY(1.1);
  background: linear-gradient(0deg, rgb(59, 173, 227) 0%, rgb(87, 111, 230) 25%, rgb(152, 68, 183) 51%, rgb(82, 41, 143) 100%);
  z-index: -1;
}
.main-section .main-container main .left-side .main-content {
  display: flex;
}
.main-section .main-container main .left-side .main-content .content-item {
  margin-right: 2.5rem;
}
.main-section .main-container main .right-side {
  width: 50%;
  text-align: right;
}
.main-section .main-container main .right-side .image-background {
  width: 50%;
  height: 50%;
  background-color: white;
  color: white;
}
.main-section .main-container main .right-side img {
  width: 70%;
}

.about-section {
  height: -moz-fit-content;
  height: fit-content;
  padding: 4rem 0;
  z-index: -2;
  position: relative;
}
.about-section .about-container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 5rem; */
  max-width: 800px;
  text-align: center;
  color: white;
  /* a {
      background-color: transparent;
      color: $white;
      padding: 0.5rem;
      border: 1px solid transparent;
      border-image: linear-gradient(to right, #04abec, #ffff) 10;
      border-radius: 14px;
  } */
  /* .btn-container {
      z-index: -2;
  } */
}
.about-section .about-container img {
  width: 170px;
  height: 170px;
}
.about-section .about-container h2 {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1.2px;
  margin-top: 0.8rem;
}
.about-section .about-container h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.8rem 0;
  background-image: linear-gradient(to right, #04abec, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.about-section .about-container p {
  line-height: 1.4;
  margin-bottom: 1.5rem;
}
.about-section .about-container .btn {
  background-color: transparent;
  background: #1a1a1a;
  color: white;
  width: 120px;
  height: 40px;
  border: 0;
  padding: 0.5rem;
  -o-border-image: linear-gradient(to right, #04abec, white) 10;
     border-image: linear-gradient(to right, #04abec, white) 10;
  border-radius: 90px;
  font-size: 20px;
  color: #d1d7d9;
  position: relative;
}
.about-section .about-container .btn:before {
  content: "";
  width: 120px;
  height: 40px;
  line-height: 90px;
  border: 0;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scaleX(1.05) scaleY(1.1);
  background: linear-gradient(0deg, rgb(59, 173, 227) 0%, rgb(87, 111, 230) 25%, rgb(152, 68, 183) 51%, rgb(82, 41, 143) 100%);
  z-index: -1;
}

.skills-section {
  min-height: 65vh;
}
.skills-section .skills-container {
  max-width: 1000px;
  color: white;
}
.skills-section .skills-container h2 {
  position: relative;
  max-width: 650px;
  font-size: 1.5rem;
  font-weight: 400;
}
.skills-section .skills-container h2::after {
  position: absolute;
  content: "";
  width: 220px;
  height: 2px;
  inset: 0;
  margin: auto;
  margin-right: 30px;
  background-color: white;
}
.skills-section .skills-container .programming-language {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}
.skills-section .skills-container .programming-language .progress-container {
  min-width: 350px;
  margin: 1rem 0;
}
.skills-section .skills-container .programming-language .progress-container .progress-bar {
  margin-top: 0.5rem;
  background-color: rgb(114, 113, 113);
  border-radius: 13px;
  padding: 3px;
}
.skills-section .skills-container .programming-language .progress-container .progress-bar-content {
  width: 80%;
  background-color: #09aded;
  height: 8px;
  border-radius: 10px;
  position: relative;
}
.skills-section .skills-container .programming-language .progress-container .go {
  width: 50%;
  background-color: #09aded;
  height: 8px;
  border-radius: 10px;
  position: relative;
}
.skills-section .skills-container .programming-language .progress-container .react {
  width: 75%;
  background-color: #09aded;
  height: 8px;
  border-radius: 10px;
  position: relative;
}
.skills-section .skills-container .programming-language .progress-container .progress-bar-content span {
  position: absolute;
  background-color: #09aded;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  top: -12px;
  padding: 5px;
  left: 240px;
  font-size: 14px;
  text-align: center;
}
.skills-section .skills-container .programming-language .progress-container .go span {
  left: 160px;
}
.skills-section .skills-container .programming-language .progress-container .react span {
  left: 230px;
}

.projects-section {
  min-height: 100vh;
  color: white;
}
.projects-section .projects-container {
  max-width: 1000px;
}
.projects-section .projects-container h4 {
  position: relative;
  max-width: 660px;
  font-size: 1.5rem;
  font-weight: 400;
}
.projects-section .projects-container h4::after {
  position: absolute;
  content: "";
  width: 260px;
  height: 2px;
  inset: 0;
  margin: auto;
  margin-right: 30px;
  background-color: white;
}
.projects-section .projects-container .project {
  max-height: 400px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(9, 1fr);
  margin-top: 1.5rem;
}
.projects-section .projects-container .project img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  grid-column: 1/6;
  grid-row: 1/9;
  filter: grayscale(30%);
}
.projects-section .projects-container .project .project-description {
  grid-column: 5/-1;
  grid-row: 4/6;
  align-self: center;
  padding: 1rem;
  background-color: #16263b;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}
.projects-section .projects-container .project .project-subtitle {
  grid-column: 7/9;
  grid-row: 1/2;
  text-align: right;
  align-self: self-end;
}
.projects-section .projects-container .project .project-title {
  grid-column: 8/9;
  grid-row: 2/3;
  text-align: right;
  align-self: self-end;
}
.projects-section .projects-container .project .project-tech {
  grid-column: 7/9;
  grid-row: 6/7;
  align-self: self-end;
}
.projects-section .projects-container .project .project-tech ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
.projects-section .projects-container .project .project-tech ul li {
  padding: 0.2rem;
}
.projects-section .projects-container .project .project2-description {
  grid-column: 1/5;
  grid-row: 4/6;
  background-color: #2d59a1;
  align-self: center;
  padding: 1rem;
  border-radius: 4px;
}
.projects-section .projects-container .project .project2-overview {
  grid-column: 4/-1;
  grid-row: 1/9;
  -o-object-fit: cover;
     object-fit: cover;
}

.work-experience-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-experience-section .work-experience-container {
  max-width: 900px;
}
.work-experience-section .vtimeline-point {
  min-height: 200px;
}
.work-experience-section .custom-timeline-content {
  padding: 1rem;
}
.work-experience-section .custom-timeline-content h4 {
  margin: 0.1rem 0 0.5rem;
}
.work-experience-section .custom-timeline-content p {
  line-height: 1.3;
}

.contact-section {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  background-image: linear-gradient(to top, #0e1d22, #131c21, #171b1f, #1a1a1d, #1a1a1a);
  /* .card {
      img {

      }
      div {

      }
  } */
}/*# sourceMappingURL=style.css.map */