@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Yeseva+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    // font-size: 18px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

$primary-color : #1a1a1a;
// test color #14342b #426358 #24a8b8 #00c6cf #068488 #068488 #fa9d66
// $secondary-color : #ec864a;
$secondary-color : #09aded;
$button-text-color : #d3fbd8;
$white : #ffff;
$black : #100f0f;


.philosopher {
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.yeseva-one {
    font-family: "Yeseva One", serif;
    font-weight: 200;
    font-style: normal;
}

.fredoka {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

a {
    text-decoration: none;
    color: $white;
}
hr {
    background-color: $black;
    height: 3px;
    border: 0;
}
.main-section {
    background-color: $primary-color;
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    .main-container {
        max-width: 900px;
        header {
            padding: 2rem 0;
            display: flex;
            justify-content: space-between;
            .name {
                font-size: 1.3rem;
            }
            nav {
                ul {
                    display: flex;
                    li {
                        list-style-type: none;
                        margin: 0 1rem;
                    }
    
                }
            }
        }
        main {
            display: flex;
            align-items: center;
            margin-top: 1rem;
            .left-side {
                // background-color: aqua;
                width: 50%;
                color: $white;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 60vh;
                .left-side-text {
                    h1 {
                        font-size: 2.5rem;
                        font-family: "Yeseva One", sans-serif;
                        padding-right: 1rem;
                        max-width: 60%;
                        line-height: 1.3;
                    }
                    .intro-text {
                        margin: 1.8rem 0;
                    }
                    a {
                        background-color: $secondary-color;
                        border-radius: 12px;
                        padding: 0.8rem 1.2rem;
                        color: $white;
                        font-weight: 500;
                        box-shadow: 6px 5px 25px -6px rgba(159, 152, 152, 0.75);
                    }
                }
                .main-content {
                    display: flex;
                    .content-item {
                        margin-right: 2.5rem;    
                    }
                }
            }
            .right-side {    
                width: 50%;
                text-align: right;
                .image-background {
                    width: 50%;
                    height: 50%;
                    background-color: white;
                    color: white;
                    // clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                }           
                img {
                    width: 70%;
                }
            }
        }
    }
}
.about-section {
    min-height: 70vh;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
    position: relative;
    .about-container {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // padding: 3rem 5rem;
        max-width: 800px;
        // background-color: white;
        text-align: center;
        color: $white;
        img {
            width: 150px;
            height: 150px;
        }
        h2 {
            font-weight: 600;
            font-size: 2rem;
            letter-spacing: 1.2px;
            margin-top: 0.8rem;
        }
        h4 {
            font-size: 1.2rem;
            font-weight: 500;
            margin: 0.8rem 0;
            background-image: linear-gradient(to right, #04abec, $white);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
        }
        p {
            line-height: 1.4;
            margin-bottom: 1.5rem;
        }
        a {
            background-color: transparent;
            color: $white;
            padding: 0.5rem;
            border: 1px solid transparent;
            border-image: linear-gradient(to right, #04abec, #ffff) 10;
            border-radius: 14px;
        }
        .btn-container {
            z-index: -2;
        }
        .btn:before {
            content: "";
            width: 120px;
            height: 40px;
            line-height: 90px;
            border: 0;
            border-radius: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0) scaleX(1.05) scaleY(1.1);
            background: linear-gradient(
            0deg,
            rgba(59, 173, 227, 1) 0%,
            rgba(87, 111, 230, 1) 25%,
            rgba(152, 68, 183, 1) 51%,
            rgb(82, 41, 143) 100%
            );
            z-index: -1;
          }
        .btn {
            width: 120px;
            height: 40px;
            border: 0;
            border-radius: 90px;
            font-size: 20px;
            background: $primary-color;
            color: #d1d7d9;
            position: relative;
          }
    }
}
.skills-section {
    min-height: 70vh;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    .skills-container {
        margin-top: 2rem;
        max-width: 900px;
        color: $white;
        h2 {
            text-align: center;
        }
        .programming-language {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-top: 1.5rem;
            // background-color: #04abec;
            .progress-container {
                min-width: 350px;
                margin: 1rem 0;
                .progress-bar {
                    margin-top: 0.5rem;
                    background-color: rgb(114, 113, 113);
                    border-radius: 13px;
                    padding: 3px;
                }
                .progress-bar-content {
                    width: 80%;
                    background-color: $secondary-color;
                    height: 8px;
                    border-radius: 10px;
                    position: relative;
                }
                .go {
                    width: 50%;
                    background-color: $secondary-color;
                    height: 8px;
                    border-radius: 10px;
                    position: relative;
                }
                .react {
                    width: 75%;
                    background-color: $secondary-color;
                    height: 8px;
                    border-radius: 10px;
                    position: relative;
                }
                .progress-bar-content span {
                    position: absolute;
                    background-color: $secondary-color;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 36px;
                    height: 36px;
                    top: -12px;
                    padding: 5px;
                    left: 240px;
                    font-size: 14px;
                    text-align: center;
                }
                .go span {
                    left: 160px;
                }
                .react span {
                    left: 230px;
                }
            }
        }
    }
}
.projects-section {
    min-height: 100vh;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    color: $white;
    .projects-container {
        // background-color: #04abec;
        max-width: 1000px;
        h4 {
            position: relative;
            max-width: 550px;
            font-size: 1.2rem;
            // background-color: #04abec;
            &::after {
                position: absolute;
                content: "";
                width: 250px;
                height: 2px;
                inset: 0;
                margin: auto;
                margin-right: 30px;
                background-color: $white;
            }
        }
        .project {
            max-height: 400px;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(9, 1fr);
            margin-top: 1.5rem;
            img {
                // background-color: hsl(197, 97%, 47%);
                width: 100%;
                height: 100%;
                object-fit: cover;
                grid-column: 1/6;
                grid-row: 1/9;
            }
            .project-description {
                padding: 1rem;
                background-color: #16263b;
            }
            .project-description {
                grid-column: 5/-1;
                grid-row: 4/6;
                align-self: center;
            }
            .project-subtitle {
                grid-column: 7/9;
                grid-row: 1/2;
                text-align: right;
                align-self: self-end;
            }
            .project-title {
                grid-column: 8/9;
                grid-row: 2/3;
                text-align: right;
                align-self: self-end;
            }
        }
    }
}

//clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
//clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
